body {
  font-family: Arial, sans-serif;
  background-color: red;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
  background-color: red;
}

p {
  color: #666;
  font-size: 18px;
  text-align: center;
}

#header {
  color: blue;
}
